<section class="map">
  <div class="container">
    <div class="map__text">
      <div class="map__title">на карте</div>
      <div class="map__items">
        <button class="map__item">Красота и здоровье <span>7</span></button>
        <button class="map__item">Магазины <span>7</span></button>
        <button class="map__item">Обучение <span>7</span></button>
        <button class="map__item">Детсад <span>7</span></button>
        <button class="map__item">Отдых, развлечения <span>7</span></button>
      </div>
    </div>
    <div class="map__iframe">
      <img src="@img/map/map.png" alt="map" />
    </div>
  </div>
</section>
