<section class="specifications">
  <div class="container">
    <div class="specifications__info">
      <div class="specifications__items">
        <div class="specifications__item">
          <div class="specifications__count">
            <span>156 - 636</span> м<sup>2</sup>
          </div>
          Площадь квартир
        </div>
        <div class="specifications__item">
          <div class="specifications__count">
            <span>475</span>
          </div>
          Парковочных мест
        </div>
        <div class="specifications__item">
          <div class="specifications__count"><span>10</span> мин</div>
          До метро Фрунзенская
        </div>
        <div class="specifications__item">
          <div class="specifications__count"><span>2</span> га</div>
          Площадь собственного парка
        </div>
      </div>
      <div class="specifications__text">
        Жилой комплекс из четырех клубных домов класса де-люкс в английском
        стиле, расположенный в собственном парке площадью 3 га в районе
        Хамовники. Авторы интерьеров жилого копмлекса,и дизайна частного парка –
        дизайнеры мировой величины. Так, общественные зоны оформляет Дэвид
        Линли, племянник королевы Великобритании и глава компании LINLEY, а
        настоящий английский парк для жителей
      </div>
      <div class="specifications__more">
        <a href="#">Узнать подробнее</a>
      </div>
    </div>
    <div class="specifications__gallery-container">
      <div class="specifications__gallery gallery">
        <div class="gallery__item gallery-1">
          <img src="@img/gallery/gallery-1.jpg" alt="gallery 1" />
        </div>
        <div class="gallery__item gallery-2">
          <img src="@img/gallery/gallery-2.png" alt="gallery 2" />
          <div class="gallery__text">
            Презентация<br />
            ЖК Knightsbridge Private Рark
          </div>
        </div>
        <div class="gallery__item gallery-3">
          <img src="@img/gallery/gallery-3.png" alt="gallery 3" />
          <div class="gallery__text">Типы планировок апартаментов</div>
        </div>
      </div>
    </div>
  </div>
</section>
