.header {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media only screen and (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 50px;
    }

    @media only screen and (max-width: 576px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .header__title {
      font-family: 'Baron Neue', sans-serif;
      font-size: 36px;
      line-height: 44px;
      color: #333333;
      max-width: 527px;

      @media only screen and (max-width: 768px) {
        max-width: 560px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 32px;
      }
    }
  }
}
