.map {
  .container {
    display: flex;
    gap: 10px;

    padding-top: 200px;
    padding-bottom: 80px;

    @media only screen and (max-width: 768px) {
      flex-direction: column;

      padding-bottom: 60px;
    }

    @media only screen and (max-width: 576px) {
      padding-left: 0;
      padding-right: 0;
    }

    .map__text {
      flex: 0 0 260px;

      @media only screen and (max-width: 768px) {
        flex: none;
        margin-bottom: 30px;
      }

      @media only screen and (max-width: 576px) {
        padding-left: 12px;
        padding-right: 12px;
      }

      .map__title {
        font-family: 'Baron Neue';
        font-size: 36px;
        line-height: 44px;
        color: #333333;
        margin-bottom: 40px;

        @media only screen and (max-width: 768px) {
          margin-bottom: 30px;
        }
      }

      .map__category {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media only screen and (max-width: 768px) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .category__item {
          display: flex;
          align-items: center;
          gap: 7px;

          padding: 8px 20px;
          font-weight: 400;
          font-size: 11px;
          color: #303030;
          border: 1px solid #c79791;
          border-radius: 20px;
          text-transform: uppercase;
          background-color: transparent;
          width: max-content;

          span {
            display: flex;
            align-items: center;

            font-weight: 700;
            font-size: 11px;
            color: #7a1b1b;
          }
        }

        .category__item[data-checked='false'] {
          border: 1px solid #e1e1e1;
        }
      }
    }

    .map__iframe {
      width: 100%;
      overflow: hidden;

      #map {
        width: 100%;
        height: 450px;
      }

      [class*='copyrights-pane'] {
        display: none !important;
      }

      [class*='ground-pane'] {
        filter: grayscale(100%);
      }

      img {
        width: 100%;

        @media only screen and (max-width: 1040px) {
          height: 450px;
          width: auto;
        }
      }
    }
  }
}
