@font-face {
	font-family: Baronneue;
	font-display: swap;
	src: url("../fonts/Baronneue-Black-Italic.woff2") format("woff2"), url("../fonts/Baronneue-Black-Italic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: Baronneue;
	font-display: swap;
	src: url("../fonts/Baronneue-Black.woff2") format("woff2"), url("../fonts/Baronneue-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Baronneue;
	font-display: swap;
	src: url("../fonts/Baronneue-Bold-Italic.woff2") format("woff2"), url("../fonts/Baronneue-Bold-Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Baronneue;
	font-display: swap;
	src: url("../fonts/Baronneue-Bold.woff2") format("woff2"), url("../fonts/Baronneue-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Bold-Italic.woff2") format("woff2"), url("../fonts/Lato-Bold-Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Light-Italic.woff2") format("woff2"), url("../fonts/Lato-Light-Italic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Medium-Italic.woff2") format("woff2"), url("../fonts/Lato-Medium-Italic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Regular-Italic.woff2") format("woff2"), url("../fonts/Lato-Regular-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Baronneue;
	font-display: swap;
	src: url("../fonts/Baronneue-Regular-Italic.woff2") format("woff2"), url("../fonts/Baronneue-Regular-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Baronneue;
	font-display: swap;
	src: url("../fonts/Baronneue-Regular.woff2") format("woff2"), url("../fonts/Baronneue-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	font-display: swap;
	src: url("../fonts/Lato-Black-Italic.woff2") format("woff2"), url("../fonts/Lato-Black-Italic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
}
