@import '_fonts';
@import '_null';

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 320px;

  .main {
    flex: 1 1 auto;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;

  @media only screen and (max-width: 768px) {
    padding: 0 40px;
  }

  @media only screen and (max-width: 576px) {
    padding: 0 12px;
  }
}

@import '_header';
@import '_specifications';
@import '_map';
@import '_features';
